/* This is the Register stylesheet */

html {
  scroll-behavior: smooth;
  transition: all 0.3s;
}

* {
  margin: 0px;
  padding: 0px;
  opacity: 1;
}

body {
  padding: 0px;
  margin: 0px;
  background-image: url("../Assets/Logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.image-fluid{
  opacity:0.5;
}

header {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  align-content: center;
  background-color: blue;
  color: white;
  font-size: medium;
  font-weight: bold;
  text-transform: uppercase;
  height: 50px;
  z-index: 100;
  width: 100%;
}

.under-header {
  background-color: yellow;
  color: black;
  font-family: impact;
  height: 50px;
  margin-top: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  align-content: center;
  width: 100%;
  z-index: 9;
}


.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.form-container {
  margin-top: 120px;
  display: inline-block;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.7);
}
fieldset {
  border: 1px solid lightblue;
  border-radius: 30px;
  padding: 20px;
  align-items: left;
  text-align: left;
}
legend {
  color: blue;
  font-family: sans-serif;
  font-size: larger;
  margin-top: -35px;
  margin-left: 0px;
  background: rgba(255, 255, 255, 0.7);;
  width: max-content;
  padding-left: 2px;
  font-weight: medium;
  border-radius: 30px;
}
label {
  color: blue;
  font-weight: medium;
  font-size: smaller;
  margin-left: 0px;
  margin-right: auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
  width: 250px;
  padding: 3px;
  border-radius: 20px;
  outline: none;
  border: 1px solid grey;
  color: blue;
  caret-color: lightblue;
  font-size: smaller;
  padding-left: 12.5px;
}

input[type="submit"] {
  background-color: blue;
  border: none;
  border-radius: 7px;
  padding: 5px;
  color: white;
  margin-left: 40%;
  transition: all 0.5s;
}
input[type="submit"]:hover {
  background-color: navy;
  color: greenyellow;
  cursor: pointer;
}

.redirection {
  text-decoration: none;
  font-size: smaller;
  text-align: center;
  cursor: pointer;
  margin-top: 15px;
}
a {
  text-decoration: none;
}
.redirection a {
  color: blue
}
.redirection a:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  color: blue;
}

::placeholder {
  color: lightgray;
  font-size: smaller;
  font-weight: bold;
}

.form-description {
  background-color: rgba(135, 206, 250, 0.653);
  color: white;
  padding: 20px 20px;
  line-height: 20px;
  margin-top: 120px;
  display: inline-block;
  width: 90%;
}
.form-description p {
  color: blue;
  line-height: 25px;
}
.form-description ul {
  padding: 10px 0px;
  list-style: circle;
  color: rgb(3, 3, 243);
 
}

.a-link {
  font-size: small;
  font-weight: bold;
  margin-bottom: 30px;
}
.a-link:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.footer {
  position: fixed;
  top: auto;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: navajowhite;
  font-size: xx-small;
  text-align: center;
  align-content: center;
  color: navy;
  width: 100%;
  padding: 10px 5px;
}
